body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.jumbotron {
    background-image:url(https://www.google.com/search?q=school+images&espv=2&biw=1366&bih=584&tbm=isch&imgil=gP8dlolaSQ1cPM%253A%253B-rIEsamY4VK3yM%253Bhttp%25253A%25252F%25252Fmeptsa.org%25252F&source=iu&pf=m&fir=gP8dlolaSQ1cPM%253A%252C-rIEsamY4VK3yM%252C_&usg=__zkdcEc2bfjbJCAz-4Cw-EX-31sc%3D);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
